@model IEnumerable<string>
@{
    ViewBag.Title = "Index";
}

<h1>Cities</h1>

@foreach(string city in Model)
{
    <ul class="list">
        <li>@city</li>
    </ul>
    
}

<div>@ViewBag.InstanceId_citiesService_1</div>
<div>@ViewBag.InstanceId_citiesService_2</div>
<div>@ViewBag.InstanceId_citiesService_3</div>